:root {
    font-size: 12px;
    --color1: rgba(200, 100, 60, 0.5);
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.chessboard {
    width: fit-content;
    margin: auto;
}

input {
    border-radius: 0.75rem;
    border: 1px solid var(--color1);
    padding: 1rem;
}
input:focus-visible {
    border-radius: 1rem;
    border: 1px solid var(--color1);
    padding: 1rem;
    background-color: #f2eeee;
    outline: none;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.75rem;
    background-color: var(--color1);
}
button:hover {
    cursor: pointer;
}
button.active {
    background-color: grey;
}

.chessboard-board {
    margin: 2rem auto;
}

/* Popup */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 100;
    font-size: 2rem;
}

.modal .close:hover {
    cursor: pointer;
}

/* #humanVsHuman > div {

} */

/* #white-square {
    user-select: none;
    background-color: #61dafb !important;
} */

/* Spinner */
/* Rotating border */

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid;
    border-right: 0.25em solid transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
}
